<!-- <li 
  class="group w-[1.5rem] h-[1.5rem] rounded-full hover:border hover:border-[1px] 
    cursor-pointer transition-all relative grid items-center"
  [ngStyle]="{ borderColor: getTone(color) }"
  >
  <div 
    class="w-[1.4rem] h-[1.4rem] rounded-full group-hover:scale-[.9] transition-all" 
    [ngStyle]="{ backgroundColor: getTone(color) }"
    >
  </div>
</li> -->

<input 
  type="radio" 
  name="radio-2" 
  class="radio !bg-transparent !border-black checked:!bg-red-600 checked:!shadow-transparent" 
/>
