<section class="h-[25rem] w-full">
  <div class="h-full w-full flex justify-between bg-[#111723] opacity-0" appInView>
    <article class="text-white px-[2rem] pt-[3.5rem] flex flex-col gap-[2rem] w-[50%]">
      <h2 class="font-bold text-[2.5rem]">
        Featured Collection
      </h2>
      <p>Our platform's philosophy combines style, performance, and quality in every garment and accessory. 
        Designed for those who aim to exceed their limits, we offer a selection of sportswear and gear that blends cutting-edge 
        technology with innovative design.
      </p>
      <button 
      class="bg-transparent border-white border-[1px] rounded-full h-[3rem] w-max mt-[2rem] text-lg italic font-bold
            hover:bg-white hover:text-black transition flex"
      >
      <a routerLink="/products" class="h-full w-full text-center px-5 flex items-center rounded-full">
        Shop now!
      </a>
    </button>
    </article>
    <img 
      src="https://content.api.news/v3/images/bin/93dc83fcdde614f199048cd3b63d46bc" 
      alt="model" 
      class="w- object-fit-cover"
      (load)="onLoadImage($event)"
    >
  </div>
</section>