<section class="h-[25rem] w-full relative overflow-x-hidden">
  <div class="h-full w-full flex justify-between bg-[#111723] opacity-0" appInView>
    <article class="text-white px-[2rem] pt-[3.5rem] flex flex-col gap-[2rem] w-[50%]">
      <h2 class="font-bold text-[2.5rem]">
        Featured Collection
      </h2>
      <p>Our platform's philosophy combines style, performance, and quality in every garment and accessory.
        Designed for those who aim to exceed their limits, we offer a selection of sportswear and gear that blends
        cutting-edge
        technology with innovative design.
      </p>
      <app-linked-button text="Shop now!" href="/products"  hoverBackground="white" />
    </article>
    <img src="https://content.api.news/v3/images/bin/93dc83fcdde614f199048cd3b63d46bc" alt="model"
      class="w- object-fit-cover" (load)="onLoadImage($event)">
  </div>
</section>