<section class="w-full text-black flex" style="height: calc(100vh - 5rem);">
  <app-filter />  
  <main class="w-full h-full p-5 overflow-auto bg-gray-100">
    <h1>{{ currentRoute }}</h1>
    <form class="flex flex-col gap-[1rem]">
      <input 
        class="h-[3rem] max-w-[40rem] py-1 pl-2 border bg-white rounded border-gray-200 transition text-[15px]
        focus:border-white focus:ring focus:ring-gray-200 outline-none" 
        type="text" 
        name="search" 
        id="searchId" 
        placeholder="Search for name, brand, type..."
      >
      <div class="flex items-center gap-[1rem]">
        <button class="px-3 py-1 rounded-full bg-slate-200 font-light hover:bg-slate-300 transition">Chipper first</button>
        <button class="px-3 py-1 rounded-full bg-slate-200 font-light hover:bg-slate-300 transition">Expensive first</button>
      </div>
    </form>
    <!--Board-->
    <app-board [data]="data" />
  </main>
</section>