<header class="fixed w-100 h-[5rem] top-0 left-0 right-0 z-30">
  <nav class="bg-white shadow px-4 h-full w-full flex items-center justify-around relative">
    <h2 class="text-black italic font-bold w-max text-center">
      Dotén
    </h2>
    <ul class="flex gap-[1.5rem] h-full">
      @for (item of routes; track $index) {
        <app-navbar-item [navbarItem]="item" (toogle)="toogleSignal()" />
      }
    </ul>
    <button 
      class="bg-slate-900 text-white rounded-full h-[2rem] w-max border border-slate-900
              hover:bg-transparent hover:text-black hover:border hover:border-black transition flex text-md"
      >
        <a routerLink="/login" class="h-full w-full text-center px-9 flex items-center rounded-full">
          LOGIN
        </a>
      </button>
  </nav>
</header>