<article class="h-[35rem] w-[25rem] rounded-lg px-4 pt-4 overflow-hidden shadow">
  <img 
  src="https://cdn.dribbble.com/userupload/15558020/file/original-39c43d21f1e021da526c5edfbb880e14.png?resize=1560x3376" 
  alt="card-model"
  class="h-[25rem] w-full object-cover"
  >
  <div class="mt-4 grid gap-2">
    <h3 class="font-bold text-2xl">
      Producto de Messi
    </h3>
    <p class="font-bold text-2xl text-gray-800">$100.00</p>
    <p class="font-bold text-md text-gray-600">
      8 styles avilable
    </p>
  </div>
</article>