button{
  background-color: gray;
  color: black;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 3rem 0 0 0;
  position: relative;
  transition: all .2s ease-in;
}

button a{
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: transparent;
  z-index: 10;
}

button::after{
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  width: 10rem;
  height: 3rem;
  content: "Go to shop";
  display: grid;
  place-items: center;
  transition: all .2s ease-in;
}


button:hover::after{
  transform: translate(5px, -5px);

}