button {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: white;
  border: none;
  color: black;
  position: relative;
  width: max-content;
  height: 45px;
  transition: background-color 0.2s ease-in, all 0.15s ease-in;
}

button::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(5px, 5px);
  background-color: rgb(190, 196, 197);
  transition: all 0.15s ease-in;
}

button:hover::after {
  transform: translate(-5px, -5px);
}

button:hover {
  transform: translate(5px, 5px);
}

button:active::after {
  background-color: rgb(190, 196, 197);
}