<section class="relative bg-black h-[95vh] w-full overflow-hidden flex flex-col justify-center items-center gap-[1rem]">
  <img 
    src="https://www.marketingregistrado.com/img/noticias/adidas-lanzo-modelo-botines-predator-mano-jude-bellingham.webp" 
    alt="thirdModel"
    class="absolute inset-0 opacity-[40%] object-contain"
    loading="lazy"
    >
    <article class="text-white z-10 flex flex-col justify-center items-center">
      <h2 class="font-bold text-[3rem] text-center">Only for this time!🐐</h2>
      <p class="font-light text-[1rem] text-center">Get the limit collection of Jude Bellingham</p>
      <button class="button">
        <a routerLink="/products"></a>
      </button>
    </article>
</section>