<section class="w-full flex h-[80vh] px-[4rem]">
  <article class="w-full pt-[5rem] px-[2rem]">
    <h2 class="text-6xl tracking-[3px] font-bold text-wrap h-max w-[30rem] ">What dotén offer for?</h2>
    <p class="text-lg tracking-[2px] font-light text-wrap h-maz w-[25rem] text-gray-600 mt-[3rem]">
      Join our satisfied customers who trust us for their journeys. We serve with a lot of values that you can feel directly.
    </p>
  </article>
  <div class="relative h-full w-[40rem] rounded">
    <div class="absolute top-0 left-0 mt-[10rem] ml-[7rem] z-[10]">
      <app-bubbl-hover-card
        image="{{ getProduct('Camiseta Atletico Madrid', 'image') }}"
        productUrl="{{ getProduct('Camiseta Atletico Madrid', 'image') }}"
        cardDisplayPosition="bottomLeft"
      />
    </div>
    <div class="absolute bottom-0 left-0 mb-[15rem] ml-[9rem] z-[10]">
      <app-bubbl-hover-card
        image="{{ getProduct('Short Atletico Madrid', 'image') }}"
        productUrl="{{ getProduct('Short Atletico Madrid', 'image') }}"
        
      />
    </div>
    <div class="absolute bottom-0 left-0 mb-[2rem] ml-[10rem] z-[10]">
      <app-bubbl-hover-card
        image="{{ getProduct('Botines Future 2.1 Netfit', 'image') }}"
        productUrl="{{ getProduct('Botines Future 2.1 Netfit', 'image') }}"
        
      />
    </div>
    <img 
      src="https://i.pinimg.com/736x/be/85/46/be854605cc5d9c7162439f3694dd8bb1.jpg" 
      alt="griezmannModel"
      class="absolute top-0 left-0 h-full rounded-2xl object-contain"
    >
  </div>
</section>