/* BOARD */

.openBoard{
  transition: all .2s ease-in;
  animation: closeToOpen .2s ease-in forwards;
}

.closeBoard{
  transition: all .2s ease-in;
  animation: openToClose .2s ease-in forwards;
}

@keyframes closeToOpen {
  0%{
    width: 2rem;
  }
  100%{
    width: 20rem;
  }
}

@keyframes openToClose {
  0%{
    width: 20rem;
  }
  100%{
    width: 2rem;
  }
}


/* Filtros */

.showFilter{
  transition: all .2s ease-in;
  animation: showing .2s ease-in forwards;
}

.unshowFilter{
  transition: all .2s ease-in;
  animation: unshowing .2s ease-in forwards;
}

@keyframes showing {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes unshowing {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}