<aside 
  class="h-full w-[2rem] transition pt-[3rem] px-[1rem] bg-white shadow relative
  {{ isOpen() ? 'openBoard' : 'closeBoard'}}" #aside
>
  <!--Filters-->
  <form class="grid opacity-0 {{ isOpen() ? 'showFilter' : 'unshowFilter' }}" #form>
    <label for="brandSelector" class="mt-[1rem]">Brand:</label>
    <select id="brandSelector" name="brand" class="bg-transparent">
      <option value="option1">All</option>
      <option value="option2">Adidas</option>
      <option value="option3">Puma</option>
      <option value="option3">Nike</option>
    </select>
  
    <label for="productTypeSelector" class="mt-[1rem]">Product type:</label>
    <select id="productTypeSelector" class="bg-transparent" name="productType">
      <option value="option1">All</option>
      <option value="option2">Camiseta</option>
      <option value="option3">Pelota</option>
      <option value="option3">Balon</option>
    </select>
  
    <label for="genreSelector" class="mt-[1rem]">Genre:</label>
    <select id="genreSelector" class="bg-transparent" name="genre">
      <option value="option1">All</option>
      <option value="option2">Male</option>
      <option value="option3">Female</option>
      <option value="option3">Kids</option>
    </select>
  
    <label class="mt-[1rem]" for="minPrice">Minium price</label>
    <input 
      type="number" 
      class="px-1 h-[2.5rem] border border-[1px] bg-transparent rounded border-gray-200" 
      name="price" 
      id="minPrice" 
      [defaultValue]="0"
      min="0"
      max="10"
    >
    <label class="mt-[1rem]" for="maxPrice">Maxium price:</label>
    <input 
      type="number" 
      class="px-1 h-[2.5rem] border border-[1px] bg-transparent rounded border-gray-200" 
      name="price" 
      id="maxPrice" 
      [defaultValue]="0"
      min="0"
      max="10"
    >
  
    <label class="cursor-pointer label">
      <span class="text-black label-text">Only offers</span>
      <input type="checkbox" class="checkbox checkbox-info" />
    </label>
  
    <label class="cursor-pointer label">
      <span class="text-black label-text">Unstocked</span>
      <input type="checkbox" class="checkbox checkbox-info" />
    </label>
  
  
    <input type="submit" value="Filter" class="rounded bg-slate-800 text-white my-[1.5rem] p-2 hover:cursor-pointer hover:bg-slate-900 transition">
  </form>

  <button 
    class="absolute h-[1.5rem] w-[1.5rem] p-1 z-100 text-[10px] right-0 right-0 top-1/2 border border-[1px] border-gray-200
    -translate-y-1/2 -mr-[.7rem] bg-white rounded-full"
    (click)="toggleMenu()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path
        d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z" />
    </svg>
  </button>
</aside>