<footer class="h-[15rem] w-full bg-slate-800 text-[12px] text-white shadow grid grid-cols-3 py-[1.5rem] px-[2.5rem]">
  <ul class="flex flex-col gap-3">
    <li class="font-bold italic">COMPANY</li>
    <li>
      <a class="hover:underline hover:cursor-pointer" routerLink="/home">Home</a>
    </li>
    <li>
      <a class="hover:underline hover:cursor-pointer" routerLink="/products">Products</a>
    </li>
    <li>
      <a class="hover:underline hover:cursor-pointer" routerLink="/about">About</a>
    </li>
    <li>
      <a class="hover:underline hover:cursor-pointer" routerLink="/contact">Contact</a>
    </li>
  </ul>

  <ul class="flex flex-col gap-3">
    <li class="font-bold italic">LEGAL</li>
    <li><a class="hover:underline hover:cursor-pointer" routerLink="#">Terms of use</a></li>
    <li><a class="hover:underline hover:cursor-pointer" routerLink="#">Privacy policy</a></li>
    <li><a class="hover:underline hover:cursor-pointer" routerLink="#">Cookie Policy</a></li>
  </ul>

  <ul class="flex flex-col gap-3">
    <li class="font-bold italic">CONTACT</li>
    <li><a class="hover:underline hover:cursor-pointer" routerLink="#">Instagram</a></li>
    <li><a class="hover:underline hover:cursor-pointer" routerLink="#">LinkedIn</a></li>
    <li><a class="hover:underline hover:cursor-pointer" routerLink="#">Github</a></li>
  </ul>
</footer>